{% extends "zapatino_templates/base.html" %}
{% load staticfiles %}


{% block title %}Zapatino Shop{% endblock%}

{% block content %}


<div class="container">
<br>
<br>
<p>ZAPATINO es una empresa familiar que nace como una compañía dedicada desde hace 4 años a la
comercialización de calzado y ropa para niños.
Ofreciendo una amplia variedad de productos pensados para usar todos los días, garantizando máxima comodidad y libertad de movimientos. 
<br>
<br>
Diseños divertidos e innovadores, alineados a las últimas tendencias y con una excelente relación precio-calidad.
<br>
<br>
ZAPATINO tiene el prestigio de sus una marca líderes en calidad y diseño con diversidad de modelos, textura y un amplio colorido que da como resultado prendas cómodas y duraderas.
Trabajamos con marcas de primera calidad, como BOTANGUITA, ATOMIK, BEBS, GOFFO, POPYS, NUCLEO Y CHUCHO MANUCHO.
<br>
<br>
"Valoramos mucho la ética profesional y la responsabilidad. Es una forma de hacer que nos identifica y que crea confianza y buena relación entre nosotros, nuestros clientes, Proveedores y colaboradores".</p>
<br>
<br>

<img style="display:block;margin:0 auto 0 auto;" src="{% static "images/btg1.jpg" %}">
<br>
<br>
</div>



{% endblock%}

 