    <!-- Page Content -->

<div class="col-md-3">    
<div id="MainMenu">
  <div class="list-group panel">
    <a href="#menuvertical1" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Indumentaria</a>
    <div class="collapse" id="menuvertical1">
       <a href="javascript:;" class="list-group-item">Bebé</a>
      <a href="javascript:;" class="list-group-item">Nena</a>
      <a href="javascript:;" class="list-group-item">Nena</a>
    </div>
    <a href="#menuvertical2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Calzado</a>
    <div class="collapse" id="menuvertical2">
      <a href="" class="list-group-item">Bebé</a>
      <a href="" class="list-group-item">Nena</a>
      <a href="" class="list-group-item">Nene</a>
    </div>
  </div>
</div>
 </div>
    