{% extends "usuarios_templates/base.html" %}

{% block content %}
<div class="container">
	<h1>Registrar Usuario</h1>
	<div class="row">
	<ul>
	<div class="col-md-4">   
	<form class="registrar" method = "POST">{% csrf_token %}
	
	<div class="form-group">
	<label>Nombre</label>
	<input class="form-control" type="text" name="nombre" placeholder="Nombre"><br>
	</div>
	
	<div class="form-group">
	<label>Apellido</label>
	<input class="form-control" type="text" name="apellido" placeholder="Apellido"><br>
	</div>
	
	
	<div class="form-group">
	<label>Fecha de Nacimiento</label>
	<input class="form-control" type="date" name="fecha_nacimiento" placeholder="Fecha de Nacimiento"><br>
	</div>
	</div>
'django.contrib.auth.views.login'

<div class="row">
	<div class="col-md-12">
	<input class="btn btn-primary type="submit" name="submit" value="Registrar Usuario">
	</div>
</div>

</div>
	</form>
{% endblock%}